# This is a comment.
# Each line is a file pattern followed by one or more owners.

# All files
*  @vminfant
*  @cognitedata/solution-architects

# Repo is currently being maintained by a single member from Global Delivery.
