# We do not allow repositories that are running on CD (in this case to deploy
# to pypi) to be claimed by single persons. This is a wide team in Value Delivery, but
# the best fit right now until Alex Vincent (who maintains this) can get his own team!
* @cognitedata/data-engineering

